%h1 Create new subdirectory

Sending this form will create a new subdirectory. Due to the mechanics of git,
which don't allow for empty directories, a file named
%i .gitkeep
will be created in the new directory.

= simple_form_for resource, url: repository_directories_path(repository), html: { class: 'form-horizontal' } do |f|
  = f.input :target_directory, as: :hidden
  = f.input :target_directory, disabled: true
  = f.input :name

  = f.submit 'Create subdirectory', class: 'btn btn-primary'
