= format_links 
%h2= @page_title = current_user.first_name + "'s Teams"

.pull-right
  = link_to 'Create Team', new_resource_path, class: 'btn btn-primary'

%p
  You are member of 
  = pluralize(collection.count, 'Team')

%ul
  = render collection: collection, partial: 'shared/team'
