%h2= @page_title = resource

%ul.actions
  %li= link_to "My Teams", collection_path
  %li= link_to "Rename", edit_resource_path
  %li= link_to "Delete", resource_path, method: :delete, confirm: "Do you really want to remove this team?"

%h3 Users

= render @permission_list
