%h2= @page_title = resource

%ul.actions
  %li= link_to "My Teams", collection_path
  %li= link_to "Rename", edit_resource_path
  %li= link_to "Delete", resource_path, method: :delete, confirm: "Do you really want to remove this team?"

%h3 Users

.permissionList{'data-uri' => url_for([resource, :team_users])}
  
  %ul
    = render :collection => resource.team_users, :partial => 'user', :locals => {:show_admin_links => team_admin?}
  
  - if team_admin?
    = form_for :team_user, :method => :put, :remote => true, :html => {:class => 'editTemplate'} do |f|
      = f.check_box :admin, :id  => "admin_%RANDOM%"
      = f.label     :admin, 'Admin privileges', :for => "admin_%RANDOM%"
      = submit_tag "save"
    %form.add
      = text_field_tag :name, nil, :class => 'autocomplete', :placeholder => 'Add users to your team', 'data-scope' => 'user'
      %button.help{:title => 'Enter at least three characters or complete e-mail addresses to start searching.'} ?
