= simple_form_for [*resource_chain, request.post? ? resource : LicenseModel.new] do |f|
  = f.input :name
  = f.input :url
  = f.input :description
  = f.hidden_field :ontology_id, value: @ontology.id
  = f.button :submit, class: 'btn btn-primary'