= repository_nav parent.repository, :ontologies

= ontology_nav parent, :license_models


=link_to "Add license model" ,new_repository_ontology_license_model_path, class: "btn"
%table.table
  %thead
    %tr
      %th License Model
      %th Description
      %th URL
      %th
  %tbody
    - @license_models.each do |license|
      %tr
        %td= license.name
        %td= license.description
        %td= license.url
        %td=link_to 'edit license model', edit_repository_ontology_license_model_path(@repo, @ontology, license)

