%h2= @page_title = 'Resend confirmation instructions'

= simple_form_for resource, :url => confirmation_path(resource_name), html: { class: 'form-horizontal' } do |f|
  
  = f.input :email, :required => false, :input_html => {:required => true, :autofocus => true}
  
  .form-actions
    = f.button :submit, "Resend confirmation instructions", disable_with: t(:wait), class: 'btn-primary'

= render "links"
