= simple_form_for resource, html: {class: 'form-horizontal' } do |f|
  = f.input :name, input_html: { class: 'input-xlarge' }, required: true
  = f.input :description, input_html: { class: 'input-xlarge' }
  = f.input :is_private, label: "Repository private", hint: (resource.is_private ? 'Caution! When setting the repository public, all reader permissions are removed.' : false)

  - if resource.new_record?
    = f.input :source_address
  
  = f.button :wrapped
