= simple_form_for resource, html: {class: 'form-horizontal', id: 'repository_form' } do |f|
  = f.input :name, input_html: { class: 'input-xlarge' }, required: true, disabled: resource.persisted?, as: :string
  = f.input :description, input_html: { rows: 8 }
  = f.input :access, collection: access_options, include_blank: false, hint: access_change_hint

  - if resource.new_record?
    = f.input :source_address, as: :url

    #remote_type.form-group
      = f.label t('repository.remote_type.label')
      .col-lg-10
        = radio_button_tag(:remote_type, 'mirror', [nil, 'mirror'].include?(params[:remote_type]))
        = label_tag t('repository.remote_type.mirror')

        = radio_button_tag(:remote_type, 'fork', params[:remote_type]=='fork')
        = label_tag t('repository.remote_type.fork')

        = t 'repository.remote_type.text'

  - if !resource.new_record? && resource.mirror?
    .form-group
      = f.label t('repository.un_mirror.label')
      .col-lg-10
        = check_box_tag :un_mirror
        = t 'repository.un_mirror.text'

  = f.button :wrapped
