%h2= @page_title = 'Repositories'

.row
  .col-md-12
    - if can? :create, Repository
      .pull-right
        = link_to 'Create Repository', :new_repository, class: 'btn btn-primary'
    %p
      = pluralize @repositories.count, "repository"
      currently available

.row
  .col-md-12
    %p
      = t('.clone_list_prefix')
      = link_to t('.clone_list_link'), repositories_path(format: :txt)

.row
  .col-md-12.repository-index
    %ul.list-group
      = render collection
