= repository_nav resource, :overview

- if resource.mirror?
  = render partial: 'source'

= render partial: 'clone_url'

- if resource.is_private
  %h2 Private
  %p This repository is private. Only users and teams with explicitly set permissions have access to this repository.

%h2 Description
%p
  - if resource.description?
    = resource.description
  - else
    %em No description.

%h2 Recent changes
- if resource.recent_changes.empty?
  %p No changes.
- else
  %ul.repository-commits
    - resource.recent_changes.each do |commit|
      = render partial: 'history/commit', locals: { repository: resource, commit: commit, current_file: nil }
