= simple_form_for resource do |f|
  = f.input :name, as: :string
  = f.input :iri, as: :url

  = f.input :standardization_status, as: :select, collection: Logic::STAND_STATUS, include_blank: false
  = f.input :defined_by, as: :select, collection: Logic::DEFINED_BY, include_blank: false

  = f.input :description

  = f.button :submit, class: 'btn btn-primary'
