%tr
  %td= fancy_link logic
  %td= logic.iri
  %td= link_to |
        pluralize(logic.ontologies.count, Ontology.to_s), |
        resource_path(logic, tab: 'ontologies') |
  %td
    = link_to |
      "with " + |
      pluralize(Ontology.distributed_in(logic).count, "distributed #{Ontology}"), |
      resource_path(logic, tab: 'distributed') |
