%h2= @page_title = 'Logics'


%p
  = pluralize(Logic.count, "logic")
  currently available
  - unless all_logics?
    = "but only #{pluralize(@counter, "logic")}"
    = "#{t :have , count: @counter } #{Settings.OMS.pluralize} defined"
    = link_to "show all logics", logics_path(all: true)
  - else
    = link_to "show only logics with "+Settings.OMS.pluralize, logics_path

= pagination do
  %table
    %thead
      %th Name
      %th IRI
      %th
      %th
    %tbody
      %tr
        %td (heterogeneous) Distributed #{Settings.OMS.pluralize}
        %td
        %td= pluralize(Ontology.heterogeneous.count, "distributed #{Settings.OMS}")
        %td= pluralize(Ontology.heterogeneous_children.count, "child #{Settings.OMS}")
        %td
      = render collection
