%h2= @page_title = 'Logics'

- if can? :create, Logic
  .pull-right
    = link_to 'Create Logic', :new_logic, class: 'btn btn-primary'

%p
  = pluralize(Logic.count, "logic")
  currently available
  - unless all_logics?
    = "but only #{pluralize(@counter, "logic")}"
    = "#{t :have , count: @counter } ontologies defined"
    = link_to "show all Logics", logics_path(all: true)
  - else
    = link_to "show only Logics with Ontologies", logics_path

= pagination do
  %table
    %thead
      %th Name
      %th IRI
      %th
      %th
    %tbody
      %tr
        %td (heterogeneous) Distributed Ontologies
        %td
        %td= pluralize(Ontology.heterogeneous.count, "distributed #{Ontology}")
        %td= pluralize(Ontology.heterogeneous_children.count, "child #{Ontology}")
        %td
      = render collection
