%h2= @page_title = 'Logics'

- if can? :create, Logic
  .pull-right
    = link_to 'Create Logic', :new_logic, class: 'btn btn-primary'

%p
  = pluralize(collection.count, resource_class.to_s)
  found

= pagination do
  %table
    %thead
      %th Name
      %th IRI
      %th
      %th
    %tbody
      %tr
        %td (heterogeneous) Distributed Ontologies
        %td
        %td= pluralize(Ontology.heterogeneous.count, "distributed #{Ontology}")
        %td= pluralize(Ontology.heterogeneous_children.count, "child #{Ontology}")
        %td
      = render collection
