%li
  %a{:name => "comment_#{comment.id}"}
  = link_to comment.user, comment.user
  wrote
  = timestamp comment
  ago
  - if can? :destroy, comment
    %ul.actions
      %li= link_to 'delete', [comment.commentable, comment], method: :delete, remote: true, confirm: 'Really delete this comment?'
  
  = simple_format comment.text