%li
  %a{:name => "comment_#{comment.id}"}
  = fancy_link comment.user
  wrote
  = timestamp comment
  - if can? :destroy, comment
    %ul.actions
      %li= link_to 'delete', [*resource_chain, comment], method: :delete, remote: true, confirm: 'Really delete this comment?'
  
  = simple_format comment.text