= repository_nav parent.repository, :ontologies, disable_actions: true

= ontology_nav parent, :comments if respond_to?(:parent)

.comments
  %ol
    = render collection
  
  - if can? :create, parent.comments.build
    = render :partial => 'form'
  - else
    %p
      Please
      = link_to "log in", :new_user_session
      or
      = link_to "register", :new_user_registration
      to write a comment.
