%h2= @page_title = 'Symbols'

= form_tag :search, :method => :get, class: 'form-search' do
  .input-append
    = text_field_tag :q, @query, placeholder: 'Symbol text', class: 'search-query'
    %button.btn Search symbols
    %button.help{ title: t('search.help') } ?

-if @query
  %p
    %strong= pluralize @group.matches, 'Symbol'
    = @max_groups > @groups.size ? 'found in' : 'found, displaying the first'
    %strong= pluralize @groups.size, 'Ontology'
  %ol.searchResult
    = render :partial => 'group', :collection => @groups
