= ontology_nav parent, 'New ontology version'

= semantic_form_for [:ontology, resource] do |f|
  -if params[:from] == 'http-client'
    = f.inputs do
      = f.input :raw_file, :as => :file
    = f.actions do
      = f.action :submit, :button_html => { 'value' => 'Upload from my computer', 'data-disable-with' => t(:wait) }
  -if params[:from] == 'http-server'
    = f.inputs do
      = f.input :source_url, :as => :url
    = f.actions do
      = f.action :submit, :button_html => { 'value' => 'Import from website', 'data-disable-with' => t(:wait) }
 
