= form_for @logic_translation do |f|
  -if @logic_translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@logic_translation.errors.count, "error")} prohibited this logic_translation from being saved:"
      %ul
        - @logic_translation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :source
    = f.text_field :source
  .field
    = f.label :target
    = f.text_field :target
  .field
    = f.label :iri
    = f.text_field :iri
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :faithfulness
    = f.number_field :faithfulness
  .field
    = f.label :plain
    = f.check_box :plain
  .field
    = f.label :exactness
    = f.number_field :exactness
  .actions
    = f.submit 'Save'
