%h1 Listing logic_translations

%table
  %tr
    %th Source
    %th Target
    %th Iri
    %th Name
    %th Description
    %th Faithfulness
    %th Plain
    %th Exactness
    %th
    %th
    %th

  - @logic_translations.each do |logic_translation|
    %tr
      %td= logic_translation.source
      %td= logic_translation.target
      %td= logic_translation.iri
      %td= logic_translation.name
      %td= logic_translation.description
      %td= logic_translation.faithfulness
      %td= logic_translation.plain
      %td= logic_translation.exactness
      %td= link_to 'Show', logic_translation
      %td= link_to 'Edit', edit_logic_translation_path(logic_translation)
      %td= link_to 'Destroy', logic_translation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Logic translation', new_logic_translation_path
