%p#notice= notice

%p
  %b Source:
  = @logic_translation.source
%p
  %b Target:
  = @logic_translation.target
%p
  %b Iri:
  = @logic_translation.iri
%p
  %b Name:
  = @logic_translation.name
%p
  %b Description:
  = @logic_translation.description
%p
  %b Faithfulness:
  = @logic_translation.faithfulness
%p
  %b Plain:
  = @logic_translation.plain
%p
  %b Exactness:
  = @logic_translation.exactness

= link_to 'Edit', edit_logic_translation_path(@logic_translation)
\|
= link_to 'Back', logic_translations_path
