= repository_nav repository, :history

.row
  .col-md-6
    %p
      The version history of this repository is maintained by
      = link_to('the Git version control system', 'http://git-scm.com/') + '.'
      Below you have access to the history of changes commited to this
      repository as well as to any particular past version of it.

.row
  .col-md-12
    - if oid
      - if ontology
        .pull-right.btn-group.breadcrumbs-buttons
          = link_to 'Show Ontology versions', [repository, ontology, :ontology_versions], class: 'btn btn-default btn-sm'

      = render partial: 'files/breadcrumbs'

      .history-pagination
        = paginate resource.paginated_array, window: 0, outer_window: 0, exclude: [:first, :last, :gap, :per_page]

      - resource.grouped_commits.each do |group|
        = render partial: 'history_commit_group', locals: { group: group }

    - else
      %p This repository is empty.
