= repository_nav parent.repository, :ontologies if parent.is_a?(Ontology)

- @link_tab = :graphs
- if parent.is_a?(Ontology)
  = ontology_nav parent, :graphs if respond_to?(:parent)
- elsif parent.is_a?(Logic)
  = render template: "logics/show", locals: {resource: parent}

%h4
  Graphical Visualization of
  = t(GraphDataFetcher.link_for(parent.class)).pluralize
- unless parent.is_a?(DistributedOntology)
  Depth of
  .btn-group#graph_depth_setting
    %a.btn.btn-default.dropdown-toggle(data-toggle="dropdown" href="#")
      = @depth
      %span.caret

    %ul.dropdown-menu
      %li
        - (1..9).each do |i|
          = link_to i, parent_path(*resource_chain, parent, :depth => i)
  - if parent.is_a?(Ontology)
    and show
    .btn-group#ontology_selections
      = link_to 'all mappings', '#all', class: 'btn btn-default mode', id: 'all'
      = link_to 'only imports', '#ontology_selections', class: 'btn btn-default mode', id: 'import'

  from
= fancy_link parent

%div#graph_content.row.well.well-large
  .row
    %div#d3_graph.col-md-5
    %div#d3_context.well.well-small.col-md-7
