= repository_nav parent.repository, :ontologies, disable_actions: true

= ontology_nav parent, :entities

- unless parent.owl?
  = pagination do
    - unless collection.blank?
      = render partial: 'list'
    - else
      %h3 No entities found

- else
  - if @hierarchy_exists
    - if show_classes?(@active_kind)
      - unless @page_selected
        .btn-group#ontology_selections
          = link_to 'Class Hierarchy', '#hierarchy', class: 'btn btn-default mode btn-primary', id: 'hierarchy'
          = link_to 'Class Details', '#detail', class: 'btn btn-default mode', id: 'detail-page'
      - else
        .btn-group#ontology_selections
          = link_to 'Class Hierarchy', '#hierarchy', class: 'btn btn-default mode', id: 'hierarchy'
          = link_to 'Class Details', '#detail', class: 'btn btn-default mode btn-primary', id: 'detail-page'
      .owl_entities
        #class-hierarchy{class: (@page_selected) ? "hide" : ""}
          = render partial: 'treeview'

  .entities-detail
    = pagination do
      - unless collection.blank?
        = render partial: 'list'
      - else
        %h3 No entities found
