= repository_nav parent.repository, :ontologies

= ontology_nav parent, :entities
- if parent.logic.name != "OWL2"
  = pagination do
    - unless collection.blank?
      = render :partial => 'list'
    - else
      %h3 No entities found
-else
  .btn-group#ontology_selections
    = link_to 'Class Hirechy', '#hierachy', class: 'btn btn-default mode btn-primary', id: 'hierachy'
    = link_to 'Class Details', '#detail', class: 'btn btn-default mode', id: 'detail-page'
  .owl_entities
    .class-hierachy
      = render :partial => 'treeview'
    .entities-detail
      = pagination do
        - unless collection.blank?
          = render :partial => 'list'
        - else
          %h3 No entities found
