= simple_form_for [parent, resource] do |f|
  = f.input :required_cons_status, as: :select, collection: Link::CONS_STATUSES, include_blank: false
  = f.input :proven_cons_status, as: :select, collection: Link::CONS_STATUSES, include_blank: false
  = f.input :proof_status, as: :select, collection: Link::CONS_STATUSES, include_blank: false

  = f.button :submit, class: 'btn btn-primary'
