%h3 Latest #{Settings.OMS.pluralize}
%ol.latest
  - @versions.each do |version|
    %li
      = fancy_link version.ontology
      = timestamp version
%h3 Failed #{Settings.OMS} versions
%ol.latest
  - @failed_versions.each do |failed|
    %li
      = fancy_link failed.ontology
      = timestamp failed
      %p= failed.last_error
