%h2= @page_title = 'Forgot your password?'

= simple_form_for resource, :url => password_path(resource_name), html: { class: 'form-horizontal' } do |f|
  
  = f.input :email, :required => false, :input_html => {:required => true, :autofocus => true}
  = f.button :wrapped, "Send me reset password instructions"

= render "links"
