%ul.dropdown-menu
  %li= link_to 'Users',  :admin_users
  %li= link_to 'Teams',  :admin_teams
  %li= link_to 'Logics', :admin_logics
  %li= link_to 'Categories', :admin_categories
  %li= link_to 'Jobs', :resque_server, target: '_blank'
