%nav.navbar.navbar-default.navbar-fixed-bottom{role: 'navigation'}
  %div.content
    %ul.nav.navbar-nav
      - if display_commit?
        %li= link_to display_commit, "https://github.com/ontohub/ontohub/tree/#{display_commit}"
      - Settings.footer.each do |entry|
        %li>
          - if entry.href
            = link_to entry.text, entry.href
          - else
            = link_to entry.text, '#'

    %div.pull-right
      %ul.nav.navbar-nav
        %li
          = link_to 'Open Ontology Repository (OOR) Initiative', 'http://ontolog.cim3.net/cgi-bin/wiki.pl?OpenOntologyRepository', target: '_new'
