%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation",style:'box-shadow:0 0 5px #888888;'}
  %div.content
    %ul.nav.navbar-nav
      %li=link_to Settings.name, :root, {class: 'navbar-brand', style: 'color:white;font-weight:bold;font-size:24px;background:url(/assets/icons/ontohub3.png) no-repeat; padding-left: 55px'}

      / For any visitor
      = menu_entry 'Repositories', :repositories
      = menu_entry 'Ontologies',   :ontologies
      = menu_entry 'Symbols',      :entities_search
      = menu_entry 'Logics',       :logics
      = menu_entry 'Mappings',     :links

      / Only for admins
      - if admin?
        = menu_entry 'Users', :admin_users
        = menu_entry 'Teams', :admin_teams
        = menu_entry 'Jobs',  :admin_jobs

    = render partial: 'shared/session'
