%ul.nav
  %li= link_to 'Repositories', :repositories
  %li= link_to 'Symbols', :search
  %li= link_to 'Logics', :logics
  %li= link_to 'Languages', :languages
  
  - if admin?
    %li.dropdown
      = link_to 'Admin <b class="caret"></b>'.html_safe, '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
      = render :partial => '/shared/admin_navigation' 
