%h2 #{Settings.OMS.pluralize.capitalize}

%p
  = pluralize @count, 'ontology'
  currently available

#search_form
  = form_tag search_ontologies_path, method: :get, id: :search_form do
    %p
      .btn-group
        .btn-group.btn-group-sm
          = collection_select nil, :ontology_type, OntologyType.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "#{Settings.OMS.capitalize} Type", selected: params[:ontology_type]},
                              class: "btn btn-primary dropdown-toggle"
        .btn-group.btn-group-sm
          = collection_select nil, :project, Project.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Project", selected: params[:project]},
                              class: "btn btn-primary dropdown-toggle"
        .btn-group.btn-group-sm
          = collection_select nil, :formality_level, FormalityLevel.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Formality", selected: params[:formality]},
                              class: "btn btn-primary dropdown-toggle"
        .btn-group.btn-group-sm
          = collection_select nil, :license, LicenseModel.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "License Model", selected: params[:license]},
                              class: "btn btn-primary dropdown-toggle"
        .btn-group.btn-group-sm
          = collection_select nil, :task, Task.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Task", selected: params[:task]},
                              class: "btn btn-primary dropdown-toggle"

    %p.row
      .col-md-10
        = text_field_tag :query, params[:query], class: "form-control"
      .col-md-2
        = submit_tag "Search", name: nil, class: "form-control"

= pagination(@search_response) do
  #search_response
    - @search_response.each do |response|
      %h2
        = fancy_link(response)
        = response.file_extension
      .repository= fancy_link(response.repository)
      .content= response.description if response.description.present?
      .categories
        - response.categories.each do |category|
          = link_to category, category
