%ul#session.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
        Logged in as #{current_user}
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'My Profile', current_user
        %li= link_to 'My Teams', :teams
        %li
          = link_to edit_user_registration_path do
            Settings
            - if current_user.display_alert?
              %strong.badge !
        %li= link_to 'SSH Keys', :keys
        %li.divider
        %li= link_to 'Log out', :destroy_user_session, method: :delete
  - else
    %li= link_to 'Log in', :new_user_session
    %li= link_to 'Register', :new_user_registration
