#session
  - if user_signed_in?
    Signed in as
    = current_user.to_s
    = link_to 'Settings', :edit_user_registration
    = link_to 'Sign out', :destroy_user_session, :method => :delete
  - else
    = link_to 'Sign in', :new_user_session
    = link_to 'Sign up', :new_user_registration
