%div{class: resource.class.name.downcase}

  %h1
    = fancy_link resource

  %nav
    %ul.nav.nav-tabs
      - pages.each do |page, path, count|
        %li{class: (page == current_page ? 'active' : nil)}
          = link_to url_for(path) do
            = page.to_s.capitalize
            - if count
              %span.badge{style: count == 0 && 'display: none'}= count

  - unless params[:ontology_id]
    %h2= current_page.to_s.capitalize
