- if can? :edit, resource
  .btn-group.pull-right
    - additional_actions.each do |action_link|
      = action_link
    = link_to 'Edit', [:edit, resource], class: 'btn btn-default'
    = link_to 'Delete', resource, confirm: 'Really delete?', method: :delete, class: 'btn btn-default'

%h1
  = fancy_link resource

%nav
  %ul.nav.nav-tabs
    - pages.each do |page, path, count|
      %li{class: (page == current_page ? 'active' : nil)}
        = link_to url_for(path) do
          = page.to_s.capitalize
          - if count
            %span.badge{style: count == 0 && 'display: none'}= count

= format_links

- unless params[:ontology_id]
  %h2= current_page.to_s.capitalize
