%h3 Latest comments
%ul
  - @comments.each do |comment|
    %li
      = link_to comment.user, comment.user
      commented
      = link_to comment.commentable, comment.commentable
      = timestamp comment
      ago
      .text
        = truncate comment.text, :length => 100, :seperator => ' '
        = link_to 'read more', commentable_path(comment)
