%h2 Recently Updated Repositories

.pull-right
  = link_to 'Browse Repositories', repositories_path, class: 'btn btn-primary', type: 'button'

- @repositories.each do |repository|
  %div
    = fancy_link repository
    = timestamp repository.updated_at

%h2 Recently Updated Ontologies

.pull-right
  = link_to 'Browse Ontologies', ontologies_path, class: 'btn btn-primary', type: 'button'

- @versions.each do |version|
  %div
    = fancy_link version.ontology
    - if version.user
      by
      = fancy_link version.user
    = timestamp version
