= repository_nav ontology.repository, :ontologies

= ontology_nav ontology, :theorems

%h3
  = t('prover_outputs.show.head_html', theorem: link_to(resource.theorem, url_for([resource.theorem, :proof_attempts])), proof_attempt_text: link_to(t('prover_outputs.show.head_attempt_html', number: resource.proof_attempt.number), url_for([resource.proof_attempt])))

%h4= t('prover_outputs.show.prover')
= resource.prover

%h4= t('prover_outputs.show.prover_output')
%pre= resource.content
