%tr
  %td= fancy_link project
  %td= truncate(project.description, length: 20, separator: ' ')
  %td= project.institution
  %td= project.contact
  -if !parent && can?(:write, Project)
    %td
      .btn-group
        = link_to 'Edit', [:edit, *resource_chain, project], class: 'btn btn-default btn-xs'
        = link_to 'Delete', [*resource_chain, project], class: 'btn btn-danger btn-xs', method: :delete, confirm: "Really delete the project '#{project}'?"
