%tr.center
  %td= link.kind
  %td= link_to link , link,{:class =>"iri", :"data-toggle"=>"tooltip", :"data-original-title" => "#{link.iri}"}
  %td= link.source
  %td
    %span{:class => "#{link.display_connection}"}
      ="->"
  %td= link.target
  %td= link.get_entity