-if @ontology
  = ontology_nav @ontology, :entities
-else
  %h2= @page_title = 'Links'

%p
  = pluralize(collection.count, resource_class.to_s)
  found

= pagination do
  %table
    -if @ontology
      %thead
        %th Source
        %th Ontology
        %th Target
    -else
      %thead
        %th Name
        %th IRI
        %th Source
        %th Target
        %th Entites
    %tbody
      -if @ontology  
        - hash = sort_link_list(collection)
        - hash.each do |key, array|
          %tr
            %td=key
            %td
              %table
                -array.each do |link|
                  %tr
                    %td=link[:link].target
                    %td=link[:target]
                    %td=link_to "#{link[:link].name} Link", link[:link]
      -else
        = render collection