%h2= @page_title = 'Links'

- if can? :create, Link
  %ul.actions.pull-right
    %li= link_to 'Create Link', :new_link

%p
  = pluralize(collection.count, resource_class.to_s)
  found

= pagination do
  %table
    %thead
      %th Name
      %th IRI
      %th Source
      %th Target
    %tbody
      = render collection