-if @ontology
  = ontology_nav @ontology, :entities
-else
  %h2= @page_title = 'Links'

%p
  = pluralize(collection.count, resource_class.to_s)
  found

= pagination do 
  -if @ontology
    .row.center
      .span4 
        %h4 Source
      .span4
        %h4 Ontology
      .span4
        %h4 Target
    - hash = sort_link_list(collection)
    - hash.each do |key, array|
      .row.center
        .span4
          =key
        .span8
          -array.each do |link|
            .row.center
              .span4
                =link[:link].target
              .span4
                =link[:target]
                =link_to "#{link[:link].name} Link", link[:link]
  -else
    %table.table
      %thead
        %tr.center
          %th Name
          %th IRI
          %th Source
          %th Target
          %th Entites
      %tbody
        = render collection