- if parent
  = repository_nav parent.repository, :ontologies

- if @ontology
  = ontology_nav @ontology, :mappings
- else
  %h2= @page_title = 'Mappings'

%p
  = pluralize(collection.count, "ontology mapping")
  currently available
  
= pagination do 
  -if @ontology
    .row.center-row
      .col-md-2
        %h4 Link
      .col-md-2 
        %h4 Source
      .col-md-2
        %h4 Source-Entity
      .col-md-2
        %h4 Target
      .col-md-2
        %h4 Target-Entity
    - hash = sort_link_list(@links)
    - hash.each do |key, array|
      .row.center-row
        .col-md-2
          = link_to array.first[:link], array.first[:link]
        .col-md-2
          = fancy_link array.first[:link].source
        .col-md-2
          -if key.to_s.include? "empty"
            
          -else
            =key 
        .col-md-4
          -array.each do |link|
            .row.center-row
              .col-md-6
                =fancy_link link[:link].target
              .col-md-6
                =link[:target]
                
  -else
    %table.table.col-md-8
      %thead
        %tr.center
          %th
          %th.col-md-1.right Name
          %th.col-md-2.right Source
          %th.col-md-1
          %th.col-md-2 Target
          %th Entites
      %tbody
        = render collection
        
