-if @ontology
  = ontology_nav @ontology, :entities
-else
  %h2= @page_title = 'Links'

%p
  = pluralize(collection.count, resource_class.to_s)
  found

= pagination do
  %table
    %thead
      %th Name
      %th IRI
      %th Source
      %th Target
      %th Entites
    %tbody
      = render collection