- @page_title = resource.iri

%h2= link_to resource, resource, 'data-type' => resource_class
%p= fancy_tag(resource, [:theorem, :local, :proven, :inclusion]) { |a| ' | ' + a}

- if can? :update, Link
  .pull-right
    .btn-group
      = link_to 'Edit Metadata', :edit_link, class: 'btn btn-default'
      = link_to 'Update Link', :update_version_link, class: 'btn btn-default'
      - if can? :delete, Link
        = link_to 'Delete Link', :link, confirm: 'Are you sure?', method: :delete, class: 'btn btn-default'

%h5 Links
= fancy_link resource.source
to
= fancy_link resource.target

- if !resource.entity_mappings.empty?
  %h5 Entities
  %table
    %thead
      %t
        %th Source
        %th Target
    %tbody
      - resource.entity_mappings.each do |mapping|
        %tr
          %td= mapping.source
          %td= mapping.target

%h5 Status
%p 
  Proven:  
  = resource.current_version.proof_status
%p 
  Required Consstatus: 
  = resource.current_version.required_cons_status
%p 
  Proven Consstatus: 
  = resource.current_version.proven_cons_status
