= repository_nav repository, :history

%p
  The versions of this repository are maintained by GIT Version Control Software.
  %br
  Below you have access to the history of changes commited to this repository
  %br
  as well as to any particular past version of it.

= render partial: 'repositories/breadcrumbs'

%ul.pagination
  - unless @page == 1
    %li.first
      = link_to raw(t 'views.pagination.first'), "?page=1"
    %li.prev
      = link_to raw(t 'views.pagination.previous'), "?page=#{@page-1}", :rel => 'prev'
  %li.active
    = link_to @page, "?page=#{@page}"
  %li.next_page
    = link_to raw(t 'views.pagination.next'), "?page=#{@page+1}", :rel => 'next'

- group_commits(@commits).each do |group|
  = render partial: 'history_commit_group', locals: { group: group }
