%table.info
  %tr
    %td Logic
    %td= resource.logic
  %tr
    %td Name
    %td= resource.name
  %tr
    %td Owner
    %td
      - for owner in resource.permissions.owner
        = link_to owner.subject, owner.subject, 'data-type' => owner.subject_type
  %tr
    %td Created at
    %td= l resource.created_at
  %tr
    %td Updated at
    %td= l resource.created_at
  %tr
    %td Hets status
    %td= status resource
  - if resource.versions.done.any?
    %tr
      %td
      %td= link_to 'Download', download_path(resource)
