= render partial: '/ontologies/menu', locals: {resource: resource}

%h1#ontology_title
  = ontology_link_to resource
  %small
    - if resource.logic
      = link_to resource.logic.to_s, resource.logic
    - elsif resource.distributed?
      DOL
  = resource.acronym

%small
  Defined
  - if resource.parent
    by
    %span= fancy_link(resource.parent)
  - if files.size > 1
    in one of the files
    %ul
      - files.each do |f|
        %li= fancy_link repository_tree_path(resource.repository, f)
  - else
    in the file
    = fancy_link repository_tree_path(resource.repository, files[0])
  - if resource.documentation
    See for detailed documentation
    = link_to resource.documentation, resource.documentation


%p= link_to resource.iri, download_path(resource) if download_path(resource)
%p= resource.description

- if resource.oops_supported?
  = render partial: '/ontologies/oops_state', locals: {resource: resource}

= status_tag

%nav.nav_tab_level1
  %ul.nav.nav-tabs
    - @top_level_pages.each do |(page_title, page)|
      %li{class: page==current_page ? 'active' : nil}
        = link_to page_title, [*resource_chain, page]
  - if %w[entities sentences children].include? controller_name
    %nav.nav_tab_level2
      %ul.nav.nav-tabs
        - @entities.each do |entity|
          %li{:class => (entity.kind == @active_kind ? 'active' : nil)}
            = link_to repository_ontology_entities_path(*resource_chain, kind: entity.kind) do
              = entity.count == 1 ? entity.kind : entity.kind.pluralize
              %span.badge{:style => entity.count == 0 && 'display:none'}= entity.count
        - pages.each do |page, path, count|
          %li{:class => (page==current_page ? 'active' : nil)}
            = link_to path do
              = page.to_s.capitalize
              - if count # hide counter if empty
                %span.badge{:style => count==0 && 'display:none'}= count
  - if controller_name == "projects" || controller_name == "tasks" || controller_name == "projects" || controller_name == "categories" || controller_name == "license_models"
    %nav
      %ul.nav.nav-tabs
        - @metadatas.each do |(page_title, page)|
          %li{class: page==current_page ? 'active' : nil}
            = link_to page_title, page