%table.info
  %tr
    %td Logic
    %td= resource.logic
  %tr
    %td Name
    %td= resource.name
  %tr
    %td Owner
    %td
      - for owner in resource.permissions.owner
        %span{'data-type' => owner.subject_type}= owner.subject
  %tr
    %td Created at
    %td= l resource.created_at
  %tr
    %td Updated at
    %td= l resource.created_at
  %tr
    %td Hets status
    %td= status resource
