%table.info
  %tr
    %td Logic
    %td= resource.logic
  %tr
    %td Name
    %td= resource.name
  %tr
    %td Owner
    %td= resource.owner rescue '[coming soon]' # TODO
  %tr
    %td Created at
    %td= l resource.created_at
  %tr
    %td Updated at
    %td= l resource.created_at
  %tr
    %td Hets status
    %td= status resource
