%div.btn-group{'style' => 'display: inline-block'}
  %a.btn.btn-mini.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
    %span.caret
  %ul.dropdown-menu
    - if can? :edit, resource
      %li= link_to 'Edit', [:edit, resource]
      %li= link_to 'Delete', resource, confirm: 'Do you really want to delete this ontology?', method: :delete
      %li.divider
    %li= link_to 'Comments', [resource, :comments]
    %li= link_to 'Metadata', [resource, :metadata]
    - if can? :permissions, resource
      %li= link_to 'Permissions', [resource, :permissions]
    - if can? :edit, resource
      %li.divider
      %li= link_to 'Upload new version from my computer', new_ontology_ontology_version_path(resource, :from => 'http-client')
      %li= link_to 'Import new version from other website', new_ontology_ontology_version_path(resource, :from => 'http-server')
    %li= link_to 'Browse Versions', [resource, :ontology_versions]
