%li
  %ul.stats
    - if ontology.logic
      %li= ontology.logic
    
    - if ontology.entities_count
      %li= link_to pluralize(ontology.entities_count, 'Entity'), [ontology, :entities]
      %li= link_to pluralize(ontology.axioms_count, 'Axiom'), [ontology, :axioms]
    
    - else
      %li= ontology.state
  
  %h3= link_to highlight(ontology.to_s, @search), ontology
  
  %p= highlight(ontology.name.to_s, @search)
