%li
  %ul.stats
    %li
      = ontology.logic
    %li
      = ontology.entities.count
      Entities
    %li
      = ontology.axioms.count
      Axioms
  
  %h3= link_to ontology, ontology
  
  %p= ontology.name
