%h2 #{Settings.OMS.pluralize.capitalize}

%p
  = pluralize @count, Settings.OMS
  currently available

#search_form_div
  = form_tag search_ontologies_path, method: :get, id: :search_form do
    %p
      .btn-group
        .btn-group.btn-group-sm
          = collection_select nil, :ontology_type, OntologyType.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "#{Settings.OMS.capitalize} Type", selected: params[:ontology_type]},
                              class: "selectpicker"
        .btn-group.btn-group-sm
          = collection_select nil, :project, Project.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Project", selected: params[:project]},
                              class: "selectpicker"
        .btn-group.btn-group-sm
          = collection_select nil, :formality_level, FormalityLevel.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Formality", selected: params[:formality]},
                              class: "selectpicker"
        .btn-group.btn-group-sm
          = collection_select nil, :license, LicenseModel.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "License Model", selected: params[:license]},
                              class: "selectpicker"
        .btn-group.btn-group-sm
          = collection_select nil, :task, Task.not_empty,
                              :id, :name_with_ontology_count,
                              {include_blank: "Task", selected: params[:task]},
                              class: "selectpicker"

    .row
      .col-md-10
        = text_field_tag :query, params[:query], class: "form-control", id: :query
      .col-md-2
        = submit_tag "Search", name: nil, class: "form-control"

= render 'ontology_search_response'
