%li
  %ul.stats
    - if ontology.distributed?
      %li distributed
      %li= link_to pluralize(ontology.children.count, 'Ontology'), [ontology, :children]
    - elsif ontology.logic
      %li= link_to ontology.logic.name, ontology.logic
    - if ontology.language
      %li= ontology.language
    
    - if ontology.entities_count
      %li= link_to pluralize(ontology.entities_count, 'Symbol'), [ontology, :entities]
      %li= link_to pluralize(ontology.sentences_count, 'Sentence'), [ontology, :sentences]
    
    - else
      %li= ontology.state
  
  %h3= link_to highlight(ontology.to_s, @search), ontology
  
  %p= highlight(ontology.iri.to_s, @search)
