= pagination(@search_response) do
  #search_response
    - @search_response.each do |response|
      %h2
        = fancy_mapping(response)
        = response.file_extension
      .repository= fancy_mapping(response.repository)
      .content= response.description if response.description.present?
      .categories
        - response.categories.each do |category|
          = link_to category, category
