%li
  %ul.stats
    - if ontology.distributed?
      %li distributed
      %li= link_to pluralize(ontology.children.count, 'Ontology'), [ontology, :children]
    - elsif ontology.logic
      %li= link_to ontology.logic.to_s, ontology.logic
    - if ontology.language
      %li= ontology.language
    
    - if ontology.entities_count
      %li= link_to pluralize(ontology.entities_count, 'Symbol'), [ontology, :entities]
      %li= link_to pluralize(ontology.sentences_count, 'Sentence'), [ontology, :sentences]
    
    - else
      - if admin? || ontology.ontology_version.user == current_user
        %li= ontology.state
      - else
        %li= ontology.active_version.state
  
  %h3= link_to highlight(ontology.to_s, @search), [ontology.repository, ontology]
  
  %p= highlight(ontology.iri.to_s, @search)
