- if req = oops_request
  .state{class: req.state, 'data-uri' => oops_data_uri, 'data-button' => 'Show results', 'data-reload_uri' => oops_data_reload_uri}
    %span.oops
      OOPS state:
      - if req.state == 'failed'
        %span.label.label-danger
          #{status(req)}
      - elsif req.state == 'done'
        %span.label.label-success
          #{status(req)}
    %br
    - if req.state == 'failed'
      (#{req.last_error})
    - elsif req.state == 'done'
      = t("oops.responses", all: req.responses.size, global: global_responses.size)
      - if global_responses
        %br
        = link_to 'Show global issues', '#', class: 'pitfalls'
  .pitfalls{style: 'display: none'}
    %dl.oops-responses
      - global_responses.each do |response|
        %dt{title: response.element_type}
          %i{class: oops_icon(response.element_type)}
        %dd
          %strong= response.name
          %p= response.description
