- if req = oops_request
  .state{class: req.state, 'data-uri' => oops_data_uri, 'data-button' => 'Show results', 'data-reload_uri' => oops_data_reload_uri}
    %span.oops OOPS state: #{status(req)}
    - if req.state == 'failed'
      (#{req.last_error})
    - elsif req.state == 'done'
      (#{req.responses.count} Responses)
      - if global_responses
        = link_to 'Show global issues', '#', class: 'pitfalls'
  .pitfalls{style: 'display: none'}
    %dl.oops-responses
      - global_responses.each do |response|
        %dt{title: response.element_type}
          %i{class: oops_icon(response.element_type)}
        %dd
          %strong= response.name
          %p= response.description
