- if req = resource.versions.current.try(:request)
  %div.state{ class: req.state, 'data-uri' => repository_ontology_ontology_version_oops_request_path(parent, resource, resource.versions.current), 'data-button' => "show results", 'data-reload_uri' => repository_ontology_url(parent, resource) }
    %span.oops OOPS State: #{status(req)}
    - if req.state == 'failed'
      (#{req.last_error})
    - elsif req.state == 'done'
      (#{req.responses.count} Responses)
      = link_to 'Show global issues', '#', class: 'pitfalls' unless req.responses.count == 0
  %div.pitfalls{style: 'display: none'}
    %dl.oops-responses
      - req.responses.global.each do |response|
        %dt{ title: response.element_type }
          %i{ class: oops_icon(response.element_type) }
        %dd
          %strong
            = response.name
          %p= response.description
