%h2= @page_title = "Edit ontology: #{resource}"

= semantic_form_for resource do |f|
  = f.inputs :uri, :logic, :name, :description
  = f.actions do
    = f.action :submit, :button_html => { :disable_with => t(:wait) }
