= repository_nav parent, :ontologies, disable_actions: true

= ontology_nav resource, :edit

= simple_form_for resource, url: resource_path(resource) do |f|
  = f.input :iri, as: :url
  = f.input :name, as: :string
  = f.label :categories
  .col-lg-10.well
    = render partial: 'categories', locals: {hide_well: true}
  = f.input :ontology_type_id, collection: OntologyType.all
  = f.association :formality_levels, collection: FormalityLevel.all, as: :check_boxes
  = f.association :projects, collection: Project.all, as: :check_boxes
  = f.association :license_models, collection: LicenseModel.all, as: :check_boxes
  = f.association :tasks, collection: Task.all, as: :check_boxes
  = f.input :description
  = f.button :submit, disable_with: t(:wait), class: 'btn btn-primary'
