%h2= @page_title = 'Ontologies'

%p
  = link_to 'Create Ontology!', new_ontology_path

%p
  = pluralize(collection.total_count, 'Ontology')
  found

= paginaton collection do
  %ul.ontologies
    = render collection
