- if can? :create, Ontology
  %ul.actions.pull-right
    %li= link_to 'Create Ontology', :new_ontology
    %li= link_to 'Bulk Upload', :bulk_ontologies

%h2= @page_title = 'Ontologies'

= format_links
= render :partial => 'filter'

%p
  = pluralize(collection.total_count, 'Ontology')
  found
  - if @search
    for
    %strong= @search

= pagination do
  %ul.ontologies
    = render collection.done_sorted_by_entities_count
