- if user_signed_in?
  %ul.actions.right
    %li= link_to 'Create Ontology', new_ontology_path

%h2= @page_title = 'Ontologies'

= render :partial => 'filter'

%p
  = pluralize(collection.total_count, 'Ontology')
  found
  - if @search
    for
    %strong= @search

= paginaton collection do
  %ul.ontologies
    = render collection
