%h2= @page_title = "Create an ontology"

= semantic_form_for resource do |f|
  = f.semantic_fields_for :versions, resource.versions.first do |vf|
    = vf.input :raw_file, :as => :file
    = vf.input :source_uri
  = f.inputs :uri, :logic, :name, :description
  = f.actions do
    = f.action :submit, :button_html => { :disable_with => t(:wait) }
