.metadata
  = render :partial => 'stats'
  = render :partial => 'info'

%h2= @page_title = resource

= simple_format resource.description

%ul.actions
  %li= link_to 'Edit', edit_resource_path
  %li= link_to 'Delete', resource_path, :confirm => 'Really delete?', :method => :delete

%ul.actions
  %li= link_to 'List', collection_path
