.metadata
  = render :partial => 'stats'
  = render :partial => 'info'

%h2= @page_title = resource

= simple_format resource.description

%ul
  %li= link_to 'edit', edit_resource_path
  %li= link_to 'delete', resource_path, :confirm => 'really delete?', :method => :delete

%p= link_to 'List', collection_path
