%h2= @page_title = resource.name

%ul.stats
  %li= link_to pluralize(resource.entities.count, 'Entity'), [resource, :entities]
  %li= link_to pluralize(resource.axioms.count, 'Axiom'), [resource, :axioms]

= simple_format resource.description

%dl
  %dt Logic
  %dd= resource.logic
  
  %dt Name
  %dd= resource.name
  
  %dt Owner
  %dd= resource.owner rescue '?' # TODO
  
  %dt Created at
  %dd= l resource.created_at
  
  %dt Updated at
  %dd= l resource.created_at

%ul
  %li= link_to 'edit', edit_resource_path
  %li= link_to 'delete', resource_path, :confirm => 'really delete?', :method => :delete

%p= link_to 'List', collection_path
