%h2 Log in

= semantic_form_for resource, :url => session_path(resource_name) do |f|
  
  = f.inputs do
    = f.input :email,    :required => false, :input_html => {:required => true, :autofocus => true}
    = f.input :password, :required => false, :input_html => {:required => true}
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  
  = f.actions do
    = f.action :submit, :label => 'Log in', :button_html => { :disable_with => t(:wait) }

= render "links"
