= simple_form_for resource, html: { class: 'form-horizontal' } do |f|
  = f.input :iri, as: :url

  = f.association :translation, :include_blank => false
  = f.association :projection, :include_blank => false
  = f.button :wrapped
