= semantic_form_for [parent, resource] do |f|
  = f.inputs do
    = f.input :iri, as: :url
    = f.input :standardization_status
    = f.input :defined_by
    = f.input :default if resource.has_attribute? :default
    = f.input :projection if resource.has_attribute? :projection
    = f.input :faithfulness if resource.has_attribute? :faithfulness
    = f.input :theoroidalness if resource.has_attribute? :theoroidalness
    = f.input :source
    = f.input :target
  = f.actions
