= semantic_form_for [@logic, resource] do |f|
  = f.inputs do
    = f.input :iri, as: :url
    = f.input :standardization_status
    = f.input :defined_by
    = f.input :default
    = f.input :projection
    = f.input :faithfulness
    = f.input :theoroidalness
    //= f.input :extension
    //= f.input :mimetype, input_html: { pattern: '[0-9a-z+-]+/[0-9a-z+-]+' }
  = f.actions
