%tr.center-row
  %td= mapping.kind
  %td.col-md-1.right= link_to "#{mapping}:", locid_for(mapping), class: 'iri', :'data-toggle' => 'tooltip', :'data-original-title' => locid_for(mapping)
  %td.col-md-2.right= fancy_link mapping.source
  %td.col-md-1 
    %span.bold{:class => "#{mapping.display_connection}"}
      &#8594;
  %td.col-md-2.left= fancy_link mapping.target
  %td= mapping.symbol
