- @page_title = resource
%h2= link_to resource, [parent,resource], 'data-type' => resource_class
Maps from 
= fancy_link resource.source
to
= fancy_link resource.target

- if can? :update, resource.class
  %ul.actions.pull-right
    %li= link_to 'Edit mapping', "/#{parent.class.name.underscore}s/#{parent.id}/#{resource.class.name.underscore}s/#{resource.id}/edit"#[parent,:logic_mapping]
    - if can? :delete, resource.class
      %li= link_to 'Delete mapping', [parent,resource.class], :confirm => 'Are you sure?', :method => :delete

%p.definedBy 
  defined by
  = resource.defined_by
%p.standardStatus 
  standardization-status: 
  = resource.standardization_status

= if resource.has_attribute? :faithfulness
  %p.faithfulness
    %h3 Faithfulness
    = resource.faithfulness
= if resource.has_attribute? :theoroidalness
  %p.theoroidalness
    %h3 Theoroidalness
    = resource.theoroidalness