- @page_title = resource
%h2= link_to resource, [parent,resource], 'data-type' => resource_class
Maps from 
= fancy_link resource.source
to
= fancy_link resource.target

- if can? :update, LogicMapping
  %ul.actions.pull-right
    %li= link_to 'Edit mapping', "/logics/#{parent.id}/logic_mappings/#{resource.id}/edit"#[parent,:logic_mapping]
    - if can? :delete, Logic
      %li= link_to 'Delete mapping', [parent,:logic_mapping], :confirm => 'Are you sure?', :method => :delete

%p.definedBy 
  defined by
  = resource.defined_by
%p.standardStatus 
  standardization-status: 
  = resource.standardization_status

%p.faithfulness
  %h3 Faithfulness
  = resource.faithfulness
%p.theoroidalness
  %h3 Theoroidalness
  = resource.theoroidalness