= repository_nav parent.repository, :ontologies

= ontology_nav @ontology, :theorems

- if can?(:write, parent.repository) && @ontology.theorems.provable.any?
  = link_to t('theorems.index.prove'), [*resource_chain, :proofs, :new], class: 'btn btn-primary'

= pagination(build_links_from_request: true) do
  %table.sentences
    %thead
      %tr
        %th= t('theorems.index.name')
        %th= t('theorems.index.text')
        %th= t('theorems.index.proof_status')
        %th= t('state')
    %tbody
      = render partial: 'theorem', collection: collection
