= repository_nav parent.repository, :ontologies

= ontology_nav @ontology, :theorems

- if ontology.unproven_theorems.present?
  = link_to t('theorems.index.prove'), [*resource_chain, :prove], method: :post, class: 'btn btn-primary'
- else
  = t('theorems.index.all_proven', oms: Settings.OMS)

= pagination do
  %table.sentences
    %thead
      %tr
        %th Name
        %th Text
        %th Proof Status
    %tbody
      = render partial: 'theorem', collection: collection
