= semantic_form_for [parent, request.post? ? resource : Metadatum.new], remote: true do |f|
  = f.inputs do
    = f.input :key, required: true, :as => :url
    = f.input :value, required: true
  = f.actions do
    = f.action :submit, :button_html => { 'data-disable-with' => t(:wait) }
