- view = StatusViewhelper.new(self, @tab)

%h2= t(:status_information)
%p.status_description= t(:status_information_description)

%nav
  %ul.nav.nav-tabs
    - view.available_tabs.each do |(tab_title, tab, number)|
      %li{class: view.current?(tab) ? 'active' : nil}
        = link_to admin_status_path(tab: tab) do
          = tab_title
          - if number
            %span.badge= number

= view.render
