=# simple_form_for resource, url: resource_path do |f|
= simple_form_for resource do |f|
  = hidden_field_tag :back_url, params[:back_url] || request.referer
  = f.input :email
  = f.input :name, as: :string
  = f.input :admin

  = f.button :submit, class: 'btn btn-primary'
