= simple_form_for resource, :url => resource_path, html: { class: 'form-horizontal' } do |f|
  = hidden_field_tag :back_url, params[:back_url] || request.referer
  = f.input :email
  = f.input :name
  = f.input :admin
  .form-actions
    = f.button :submit, class: 'btn-primary'
