%tr
  %td= user.id
  %td= fancy_link user
  %td= highlight user.email, params[:email_search]
  %td= user.admin?
  %td
    .btn-group
      = link_to 'show', resource_path(user), class: 'btn btn-xs btn-default'
      = link_to 'edit', edit_resource_path(user), class: 'btn btn-xs btn-default'
      = link_to 'delete', resource_path(user), confirm: 'Really delete?', method: :delete, class: 'btn btn-xs btn-default'
