%h2= @page_title = resource.name

%ul.actions
  %li= link_to 'List users', collection_path

%dl.dl-horizontal
  - for attr in resource_class.attribute_names
    %dt= attr
    %dd
      - val = resource.send(attr).to_s
      - if val.blank?
        \-
      - elsif val =~ /^_id$/
        = attr.sub(/_id$/,'')
      - else
        = val
