%h2= @page_title = resource.name

%dl
  - for attr in resource_class.attribute_names
    %dt= attr
    %dd
      - val = resource.send(attr).to_s
      - if val.blank?
        \-
      - elsif val =~ /^_id$/
        = attr.sub(/_id$/,'')
      - else
        = val

%p= link_to 'list users', collection_path
