%tr
  %td= team.name
  %td= team.users.count
  %td
    .btn-group
      = link_to 'show', team, class: 'btn btn-xs btn-default'
      = link_to 'permissions', [team, :permissions], class: 'btn btn-xs btn-default'
      = link_to 'members', [team, :team_users], class: 'btn btn-xs btn-default'
