= simple_form_for resource, :url => resource_path do |f|
  = f.inputs do
    = f.input :name, as: :string
    = f.input :iri, as: :url
    = f.input :extension
    = f.input :mimetype, input_html: { pattern: '[0-9a-z+-]+/[0-9a-z+-]+' }
  = f.actions
