!!!
%html
  %head
    %title #{page_title} · #{Settings.name}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    = render :partial => '/shared/navbar'
    = flash_messages
    %div.content
      - if cover_visible?
        = render :partial => '/shared/cover'
      %div.content-padding
      - if context_pane_visible?
        %div.col-md-8
          = yield
        - if user_signed_in?
          %div.col-md-4
            = render partial: '/shared/user_content'
        - else
          %div{style: 'position: absolute; top: 83px; right:15px; width: 303px;'}
            = render partial: '/shared/signin'
            %div.content-padding
            = render partial: '/shared/signup' 
      - else
        %div.col-md-12
          = yield
      %div{style: 'clear:both;'}
    %div{style:'height:30px;'}
    = render :partial => '/shared/footer'
    = javascript_include_tag "application"
    = javascript_include_tag "/static/gwt/ontohub.nocache.js"
