!!! 5
%html

  %head
    %title #{page_title} · #{Settings.name}

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    = render partial: '/shared/navbar'

    %main#content
      .container
        .row.flash-messages
          = flash_messages
        .row
          - if cover_visible?
            = render partial: '/shared/cover'
            .col-md-12
              = yield
          - elsif context_pane
            .col-md-8
              = yield
            .col-md-4
              - if user_signed_in?
                = render partial: '/shared/user_content'
              - else
                = render partial: '/shared/signup_invitation'
          - else
            .col-md-12
              = yield


    = render partial: '/shared/footer'

    = javascript_include_tag 'application'
