!!!
%html
  %head
    %title #{page_title} · #{Settings.name}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    = render :partial => '/shared/navbar'
    = flash_messages
    %div.content
      - if @content_kind or user_signed_in?
        %div.content-padding
      = yield
      %div{style: 'clear:both;'}
      - if ! user_signed_in?
        %div{style: 'position: absolute; top: 20px; right:15px; width: 303px;'}
          = render :partial => '/shared/signin'
    = render :partial => '/shared/footer'
    = javascript_include_tag "application"
